<!-- Timeline Section - Evening -->

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Timeline
                        <br/><br/>
                    </h2>
                    <!-- <h3 class="section-subheading text-muted">What we're going to get up to</h3> -->
                    <h2 class="section-heading">Déroulement<br/><br/></h2>
                    <!-- <h3 class="section-subheading text-muted">Déroulement de la cérémonie</h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/rings_line_3.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!-- <h4>1:30 pm</h4> -->
                                    <!-- <h4 class="subheading">Wedding Ceremony</h4> -->
                                    <h4>13:30</h4>
                                    <h4 class="subheading">Cérémonie de mariage</h4>
                                </div>
                                <div class="timeline-body">
                                    <!-- <p class="text-muted">We'd like to thank God, ask Him to bless our marriage, and exchange vows.</p> -->
                                    <p class="text-muted">On aimerait remercier Dieu, Lui demander de bénir notre mariage et échanger nos vœux.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/glass_4.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!-- <h4>3:00 pm</h4> -->
                                    <!-- <h4 class="subheading">Apéro!</h4> -->
                                    <h4>15:00</h4>
                                    <h4 class="subheading">Apéro !</h4>
                                </div>
                                <div class="timeline-body">
                                    <!-- <p class="text-muted">After taking a few pictures (Emily is very excited about this part...), we will celebrate with drinks and nibbles.</p> -->
                                    <p class="text-muted">Après quelques photos, on fêtera ces moments en discutant autour d'un apéritif.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/couple_walking.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!-- <h4>5:00 pm</h4> -->
                                    <!-- <h4 class="subheading">An Afternoon Stroll</h4> -->
                                    <h4>17:00</h4>
                                    <h4 class="subheading">Petite ballade</h4>
                                </div>
                                <div class="timeline-body">
                                    <!-- <p class="text-muted">We'll stretch our legs while admiring the alps and share a glass of champagne.</p> -->
                                    <p class="text-muted">On ira faire quelques pas dans la campagne avoisinante et partager un verre de champagne.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/food_line_3.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!-- <h4>6:30 pm</h4> -->
                                    <!-- <h4 class="subheading">Dinner</h4> -->
                                    <h4>18:30</h4>
                                    <h4 class="subheading">Souper & productions</h4>                                
                                </div>
                                <div class="timeline-body">
                                    <!-- <p class="text-muted">Sharing good food, laughing at our expense, and spending quality time together.</p> -->
                                    <p class="text-muted">Partager un bon repas, rire à nos dépens et passer du bon temps ensemble.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <!-- <h4>THANKS FOR
                                    <br>CELEBRATING
                                    <br>WITH US</h4> -->
                                <h4>ON SE
                                    <br>RÉJOUIT DE
                                    <br>VOUS VOIR !</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-lg-auto">
                    <div class="chat-input-container">
                        <input type="text" size="30" id="user-input" placeholder="If you have any other questions...">
                        <button onclick="sendMessage()">Send</button>
                    </div>
                </div>
            </div> -->
        </div>
    </section>