<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <!-- <h2 class="section-heading">3rd January  |  11:30 am</h2> -->
                <h2 class="section-heading">Heading</h2>

                <h3 class="section-subheading text-muted">3rd January  |  11:30 am</h3>
                <!-- <h3 class="section-subheading text-muted">Date & Lieu</h3> -->
                    <h4 class="section-subheading">The Gobbler (<a href="https://maps.app.goo.gl/iwkPY4bf876vXrA5A" style="color: #7E949C;">1686 Longbush Road, Carterton 5884</a>)
                        <br/>
                        <br/> Parking info à rajouter.
                        <br/>
                        <br/>
                    </h4>
                    <!-- <h4 class="section-subheading">La cérémonie aura lieu le 27 juillet à partir de 13:30, à la salle polyvalente du Léman (chemin des Collèges 5, 1143 Apples). Des places de parking sont à disposition devant la salle.</h4> -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4860.704220815382!2d175.6246435!3d-41.1202721!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d412a27b2be818f%3A0x429be339e68b8bb4!2sThe%20Gobbler!5e1!3m2!1sfr!2sch!4v1729354015814!5m2!1sfr!2sch" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <!-- <h3 class="section-subheading text-muted"><br/>Heading?</h3>
                    <h4 class="section-subheading">For any questions related to the apéro, please get in touch with Anette Dousson (<a href="mailto: thanks@emilyandpascal.ch" style="color: #7E949C;">thanks@emilyandpascal.ch</a>).
                        <br/><br/><br/>If you'd like to do any kind of "production" during the evening, please let us know on<a href="mailto: thanks@emilyandpascal.ch" style="color: #7E949C;"> the same email address</a> by the 13th of July.
                        <br/><br/>Please respect the time limit of 10 mins. A stage, projector and microphones are available in the hall. The evening will be bilingual, any introduction/translation into French would be much appreciated by those who don't understand English (or struggle to understand kiwi accents :).
                        <br/><br/><br/>If you have any questions, don't hesitate to <a href="mailto: thanks@emilyandpascal.ch" style="color: #7E949C;"> contact us.</a></h4> -->
                        <!-- 
                <h3 class="section-subheading text-muted">Productions</h3>
                    <h4 class="section-subheading">This section will be updated soon.</h4> -->
                    <!-- <h4 class="section-subheading">If you would like to announce a production for the evening, please contact Sylvain Müller (email) or Sébastien Oulevey (email) no later than 13 July.
                        <br/>
                        <br/>We kindly ask that presentations would not exceed 10 minutes. A stage and projection equipment will be available in the hall. The evening will be bilingual, so if you can introduce your presentation in French, this will be greatly appreciated by those who do not speak English.</h4> -->
                    <!-- <h4 class="section-subheading">Cette section sera bientôt mise à jour.</h4> -->
                    <!-- <h4 class="section-subheading">Si vous souhaitez annoncer une production pour la soirée, veuillez vous adresser à Sylvain Müller (email) ou Sébastien Oulevey (email) au plus tard le 13 Juillet.
                        <br/>
                        <br/>Nous demandons à ce que les productions ne dépassent pas 10 minutes. Une scène, ainsi que du matériel de projection seront à disposition dans la salle. La soirée sera bilingue, si vous pouvez introduire votre présentation en anglais, ce geste sera très apprécié par ceux qui ne parlent pas le français.</h4> -->
            </div>
        </div>
    </div>
</section>

<!-- https://maps.app.goo.gl/43ewpBu1hkSZ6gQPA -->
<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2743.8555378850806!2d6.429455276334138!3d46.55054446030442!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c49e62bed85d5%3A0x7ec70f5b8492e0f4!2sSalle%20Polyvalente%20du%20L%C3%A9man!5e0!3m2!1sfr!2suk!4v1716633555976!5m2!1sfr!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->