<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Practical Information</h2>
                    <!-- <h2 class="section-heading">Informations Pratiques</h2> -->

                    <h3 class="section-subheading text-muted">Time & Place</h3>
                    <!-- <h3 class="section-subheading text-muted">Date & Lieu</h3> -->
                        <h4 class="section-subheading">The ceremony will take place on the 27th of July starting at 1:30 pm, at the Salle polyvalente du Léman (Chemin des Collèges 5, 1143 Apples, Switzerland).</h4>
                        <!-- <h4 class="section-subheading">La cérémonie aura lieu le 27 juillet à partir de 13:30, à la salle polyvalente du Léman (chemin des Collèges 5, 1143 Apples). Des places de parking sont à disposition devant la salle.</h4> -->
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2743.8555358783083!2d6.4294553!3d46.5505445!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c49e62bed85d5%3A0x7ec70f5b8492e0f4!2sSalle%20Polyvalente%20du%20L%C3%A9man!5e0!3m2!1sfr!2suk!4v1716638186209!5m2!1sfr!2suk" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                    <h3 class="section-subheading text-muted">Apéro & Productions</h3>
                    <!-- <h3 class="section-subheading text-muted">Collation</h3> -->
                        <!-- <h4 class="section-subheading">For any question related to the afternoon tea, please get in touch with XYZ (email).</h4> -->
                        <h4 class="section-subheading">This section will be updated soon.</h4>
                        <!-- <h4 class="section-subheading">Pour toute question liée à la collation, veuillez vous adresser à XYZ (email).</h4> -->
                        <!-- <h4 class="section-subheading">Cette section sera bientôt mise à jour.</h4> -->
<!-- 
                    <h3 class="section-subheading text-muted">Productions</h3>
                        <h4 class="section-subheading">This section will be updated soon.</h4> -->
                        <!-- <h4 class="section-subheading">If you would like to announce a production for the evening, please contact Sylvain Müller (email) or Sébastien Oulevey (email) no later than 13 July.
                            <br/>
                            <br/>We kindly ask that presentations would not exceed 10 minutes. A stage and projection equipment will be available in the hall. The evening will be bilingual, so if you can introduce your presentation in French, this will be greatly appreciated by those who do not speak English.</h4> -->
                        <!-- <h4 class="section-subheading">Cette section sera bientôt mise à jour.</h4> -->
                        <!-- <h4 class="section-subheading">Si vous souhaitez annoncer une production pour la soirée, veuillez vous adresser à Sylvain Müller (email) ou Sébastien Oulevey (email) au plus tard le 13 Juillet.
                            <br/>
                            <br/>Nous demandons à ce que les productions ne dépassent pas 10 minutes. Une scène, ainsi que du matériel de projection seront à disposition dans la salle. La soirée sera bilingue, si vous pouvez introduire votre présentation en anglais, ce geste sera très apprécié par ceux qui ne parlent pas le français.</h4> -->
                </div>
            </div>
        </div>
    </section>

<!-- https://maps.app.goo.gl/43ewpBu1hkSZ6gQPA -->
<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2743.8555378850806!2d6.429455276334138!3d46.55054446030442!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c49e62bed85d5%3A0x7ec70f5b8492e0f4!2sSalle%20Polyvalente%20du%20L%C3%A9man!5e0!3m2!1sfr!2suk!4v1716633555976!5m2!1sfr!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
